*{
    margin: 0px;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    
}

nav{
    color: white;
    padding: 15px;
    background-color:gray;
    position: fixed;
    width: 98%;
    top:0px;
    z-index: 1;
    
  }
  nav h1{
    letter-spacing:.2em;
  }
nav li,ul,h1{
    display: inline;
    
  }
nav li a{
    text-decoration: none;
    font-size: 15px;
    margin-right: 50px;
    color: white;
    position: relative;
    top:-6px;
    
  }
  ul{
    margin-left: 10%; 
    
  }
nav li a:hover {
    background-color: rgba(0,0,0,0.2);
    color: white;
    padding: 10px;
    cursor:pointer;
    
  }
  
.searchbar{
    width: 20%;
    height: 5vh;
    background:rgba(255, 255, 255, 0.369) ;
    border-radius:70px;
    padding: 3px 5px;
    backdrop-filter: blur(3px) saturate(100%);
    position: relative;
    top:-3px;
    right: 250px;
    float: right;
}
  
.searchbar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: 0;
    font-size: 15px;
    margin-left: 20px;
    margin-top: 5px;
  }
   
  .login{
    position: relative;
    left: 350px;
    top:-3px;
    padding: 10px;
    width:100px;
    border-radius: 10px;
  }
  
  ::placeholder{
    color: rgba(161, 94, 161, 0.852);
  }
    
  .searchbar button{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #58629b;
    margin-left:-8px;
    border: 0;
    padding: 6px;
    position: fixed;
  }


  /* exercise */

.ex-1 h3{
    text-align: center;
    margin-top: 10px;
  }
.ex-1{
    margin-left: 50px;
    margin-top: 20px;
    border: 1px solid black;
    width: 90%;
    height: 80vh;
}
.ex-1 li{
    line-height: 25px;
    margin-left: 40px;
    position: relative;
    top: 10px;
    
}
.ex-1 img{
    width: 250px;
    padding-right: 20px;
    margin-top: 45px;
    margin-left: 20px;
}
.ex-1 h4{
    margin-left: 30px;
    position: relative;
    top: 20px;
}
.try{
    width: 500px;
    float: right;
    height: 300px;
    position: relative;
    bottom: 390px;
    right: 90px;
    
}
.ex-1 button{
    padding: 10px;
    width: 190px;
    margin-left: 190px;
    position: relative;
    bottom: 40px;
    box-shadow: 2px 2px 5px black ;
    letter-spacing: .1em;
}
.ex-1 button:hover{
    transform: scale(1.1);
    transition: 2s;
}
.table img{
    width: 500px;
}

.butex2{
    position: relative;
    left: 590px;
}
.list1 img{
    height: 38vh;
    position: relative;
    left: 60px;
    top:-29px
}
.butex3{
    position: relative;
    left: 590px;
    top:-90px;
}
.head{
    margin-left: 300px;
}